{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Δημοτικές εκλογές</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.src.js"></script>

      <link rel="stylesheet" type="text/css" href ="{% static 'css/elections.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link rel="icon" href="/media/logo2.jpg">

     <script>


      /*$(document).ready(function () {
       $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
        });

      }); */
    </script>



  </head>

  <body  background="media/bgekloges.png" class="img-fluid" alt="Responsive image">

  <nav class="navbar navbar-default">

    <div class="container-fluid">

        <!-- header -->
        <div class="navbar-header">

            <!-- δημιουργία κουμπιού sandwich όπως στο android-->
            <!-- Το data-target λέει ποια περιοχή του μενού θα δείξει το sandwich button όταν εμφανιστεί
                 με το που θα μικρύνει η οθόνη, π.χ σε κινητό -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'Elections_list' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

        </div>


            <!-- menu items album, music klp. Εδώ είναι και το Id topNavBar που δείχνει ότι
                 όλο αυτό το div θα εμφανιστεί από το sandwich button-->
        <div class="collapse navbar-collapse" id="topNavBar">


              <!--  <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'Elections_list' selected_ekloges %}">
                    <div class="form-group" >
                        <input type="text" class="form-control" name="search" id="search" value="">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

-->
        <!--
               <center><label style="color: orangered; font-size: 22px "; > Δοκιμαστικό περιβάλλον !</label></center>
         -->
                <ul class="nav navbar-nav navbar-right">

                     <li class="nav-item">
                     {% if request.user.is_authenticated %}
                        <a href="{% url 'accounts:logout' selected_ekloges %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;Logout {{ request.user }}</a>

                     {% else %}
                        <a href="{% url 'accounts:login' selected_ekloges %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;Login</a>
                     {% endif %}
                    </li>
                </ul>

        </div>

    </div>


</nav>

     <!-- end of header -->

  <div class="container-fluid">
      <div class="row">

              <!-- start of side bar -->
         <!--   <nav class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar"> -->
        <div class="sidenav col-sm-4 col-md-3 d-none d-sm-block">
            <div  style="overflow-x: hidden; overflow-y: hidden; width: 300px; height : 100%;">

                <!--<p id="demo1" type="hidden" ></p> -->
                <div class="sidebar-header">

                    <form method="get" name="ekloges" action="{% url 'Elections_list' selected_ekloges %}">
                         <!--<input id="EklInput" name="eklogesinput" value="9"/><!--name="eklogesinput"  -->
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                        <select  class="sel1" id="mydir" name="eklogesoption"  onchange="ekloges.submit()">
                            {% for e in all_ekloges %}
                             <option  value="{{  e.eklid }}" {% if selected_ekloges ==  e.eklid  %}selected{%endif%}>{{ e.descr }}</option>
                            {% endfor %}
                        </select>
                    <div class="divmargin"></div>

                    {% if request.user.is_authenticated %}

                        Αναζήτηση εκλ. κέντρου
                            <input type="text"  class="form-control" id="eklkentro"  name="eklkentrooption" placeholder="Π.χ. 275" />
                            <div class="divmargin"></div>
                            <button type="submit" id="button-search" class="btn btn-primary ">Αναζήτηση</button>


                        <hr>
                    {% endif %}

                    </form>

                    <noscript><input type="submit" value="Submit"></noscript>

                    </div>

                    <!-- overflow-y: scroll; -->
                <ul class="nav nav-list">


                    <li><label class="tree-toggler nav-header label8"><span class="glyphicon glyphicon-stats"></span> ΑΠΟΤΕΛΕΣΜΑΤΑ</label>
                        <ul class=" nav nav-list tree" style="font-size: 13px; ">
                            <li><a href="{% url 'pososta_telika' selected_ekloges %} "  id="m1">Ποσοστά συνδυασμών (συγκεντρωτικά)</a></li>
                            <li><a href="{% url 'pososta_perifereies' selected_ekloges  %}" id="m2">Ποσοστά συνδυασμών ανά εκλ. περιφέρεια</a></li>

                        <hr class="style11">

                            <li><a href="{% url 'psifodeltiasind_ken' selected_ekloges 1%}" id="m9">Ψηφοδέλτια συνδυασμών για την εκλογή Δημοτικής Αρχής ανά εκλ. κέντρο (Α' Κυριακή)</a></li>
                            <li><a href="{% url 'psifodeltiasind_koin' selected_ekloges 1 1%}" id="m10">Ψηφοδέλτια συνδυασμών για την εκλογή Δημοτικής Αρχής ανά Κοινότητα (Α' Κυριακή)</a></li>
                        <hr class="style11">

                            <li><a href="{% url 'psifodeltiasind_ken' selected_ekloges 2%}" id="m11">Ψηφοδέλτια συνδυασμών για την εκλογή Δημοτικής Αρχής ανά εκλ. κέντρο (Β' Κυριακή)</a></li>
                            <li><a href="{% url 'psifodeltiasind_koin' selected_ekloges 1 2%}" id="m12">Ψηφοδέλτια συνδυασμών για την εκλογή Δημοτικής Αρχής ανά Κοινότητα (Β' Κυριακή)</a></li>
                        <hr class="style11">

                            <li><a href="{% url 'psifodeltiasind_ken' selected_ekloges 3%}" id="m13">Ψηφοδέλτια συνδυασμών για την εκλογή Τοπικού Συμβουλίου ανά εκλ. κέντρο</a></li>
                            <li><a href="{% url 'psifodeltiasind_koin' selected_ekloges 0 3%}" id="m14">Ψηφοδέλτια συνδυασμών για την εκλογή Τοπικού Συμβουλίου ανά Κοινότητα</a></li>
                         <hr class="style11">
                            <li><a href="{% url 'psifoisimb_perifereies' selected_ekloges  %}" id="m3">Ψήφοι υποψ. δημοτικών συμβούλων</a></li>

                            {% if selected_ekloges == 1  %}
                            <li><a href="{% url 'psifoisimb_koinotites' 1 1 %}" id="m4">Ψήφοι υποψ. συμβούλων κοινοτήτων > 2000 κατοίκων</a></li>
                            <li><a href="{% url 'psifoisimb_koinotites' 1 2 %}" id="m5">Ψήφοι υποψ. συμβούλων κοινοτήτων έως 2000 κατοίκων</a></li>
                            {% else %}
                            <li><a href="{% url 'psifoisimb_koinotites' selected_ekloges 4 %}" id="m6">Ψήφοι υποψ. συμβούλων κοινοτήτων > 300 κατοίκων</a></li>
                            <li><a href="{% url 'psifoisimb_koinotites' selected_ekloges 3 %}" id="m7">Ψήφοι υποψ. συμβούλων κοινοτήτων έως 300 κατοίκων</a></li>
                            {% endif %}
                            <li><a href="{% url 'psifoisimb_ken' selected_ekloges%}" id="m8">Ψήφοι υποψηφίων συμβούλων ανά εκλ. κέντρο</a></li>
                         <hr class="style11">
                            <li><a href="{% url 'eklsind_for_viewers' selected_ekloges %}" id="m15">Κατανομή εδρών για το Δημ. Συμβούλιο</a></li>
                            <li><a href="{% url 'eklsindkoin_for_viewers' selected_ekloges %}" id="m16">Κατανομή εδρών στα Τοπικά Συμβούλια</a></li>
                        <hr class="style11">
                        </ul>
                    </li>

                    <li class="divider"></li>
               
                    {% if request.user.is_authenticated %}
                    <li><label class="tree-toggler nav-header label8"><span class="glyphicon glyphicon-wrench"></span> ΠΑΡΑΜΕΤΡΙΚΑ</label>
                        <ul class="nav nav-list tree" style="font-size: 13px; " >
                    {% endif %}
                            {% if request.user.is_superuser %}


                                <li><a href="{% url 'sistima_list' selected_ekloges  %}">Εκλογικά Συστήματα</a></li>
                                <li><a href="{% url 'edres_list' selected_ekloges  %}" >Περιπτώσεις κατανομής εδρών σε Δήμους</a></li>
                                <li><a href="{% url 'edreskoin_list' selected_ekloges  %}">Περιπτώσεις κατανομής εδρών σε Κοινότητες</a></li>
                                <li><a href="{% url 'ekloges_list' selected_ekloges  %}">Εκλ. αναμετρήσεις</a></li>
                                <li><a href="{% url 'typeofkoinotita_list' selected_ekloges  %}">Τύποι Κοινοτήτων</a></li>
                                <li><a href="{% url 'perifereia_list' selected_ekloges  %}">Εκλογικές Περιφέρειες</a></li>
                                <li><a href="{% url 'koinotites_list' selected_ekloges  %}">Κοινότητες</a></li>
                                <li><a href="{% url 'sindiasmoi_list' selected_ekloges  %}">Υποψήφιοι Συνδυασμοί - Βασικά στοιχεία</a></li>
                                <li><a href="{% url 'eklsind_list' selected_ekloges  %}">Δημοτικοί Συνδυασμοί και Έδρες</a></li>
                                <li><a href="{% url 'eklsindkoin_list' selected_ekloges  %}">Τοπικοί Συνδυασμοί και  Κοινότητες</a></li>
                                <li><a href="{% url 'kentra_list' selected_ekloges  %}">Εκλογικά Κέντρα</a></li>
                            {% endif %}

                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'psifodeltia_list' selected_ekloges  %}">Ψηφοδέλτια ανά εκλ. κέντρο για Δημοτικό Συμβούλιο</a></li>
                                <li><a href="{% url 'psifodeltiakoin_list' selected_ekloges  %}">Ψηφοδέλτια ανά εκλ. κέντρο για Τοπικά Συμβούλια</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'simbouloi_list' selected_ekloges  %}">Υποψήφιοι Σύμβουλοι</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'psifoi_list' selected_ekloges  %}">Ψήφοι Υποψηφίων ανά εκλ. κέντρο</a></li>
                            {% endif %}
                        </ul>

                    </li>

                </ul>
            </div>

            <!--


                 <p id="demo1" class="hidden" ></p>
-->


            <script>

                $(document).ready(function () {

                  $("#ulEkloges li a").on("click", function () {
                    // Get text from anchor tag
                    var id = $(this).data('pdsa-dropdown-val');
                    $("#EklInput").val(id);
                    // Add text and caret to the Select button
                    var text = $(this).text();
                    $("#selectButton").html(text + '&nbsp;<span class="caret"></span>');
                    // Put text into hidden field from model
                    $("#EklInput").val(id);
                     $('.label3').text(this.innerHTML);

                    });

                  });


            </script>


        <!-- </nav> -->
        </div>
         <!-- end of side bar -->


         <!-- start of main window  -->

        <main role="main" class="col-sm-8 col-md-9 pt-1">


                <div class="text-center">
                {%  if all_ekloges %}
                     <label class="label3">{{ selected_ekloges.0.descr }}  </label>
                {% else %}
                    <label class="label3"> Δεν βρέθηκαν εγγραφές! </label>
                {% endif %}
                </div>

        {% block content %}  <!--εδώ λέμε ότι θα μπει ο κώδικας της σελίδας που καλεί το base.html-->


        {% endblock %}

        </main>
      </div>    <!-- end of <div class="row"> -->
    </div>    <!-- end of <div class="container-fluid"> -->



  <script>

      // για το text-box Που κάνει Live αναζήτηση

    $("#livesearch").keyup(function () {
                    var value = this.value.toLowerCase().trim();

                    $("table tr").each(function (index) {
                        if (!index) return;
                        $(this).find("td").each(function () {
                            var id = $(this).text().toLowerCase().trim();
                            var not_found = (id.indexOf(value) == -1);
                            $(this).closest('tr').toggle(!not_found);
                            return not_found;
                        });
                    });
    });


  </script>




  </body>

  <br>
    <footer class="container-fluid bg-4 text-center">
     <div id="footer-content">
      <p>Τσακιρίδης Γιώργος -  (ΠΜΣ Εφαρμοσμένη Πληροφορική - Διπλωματική εργασία</a>)</p>
    </div>
    </footer>

</html>

