{% extends 'Elections/Elections_list.html' %}

{% load staticfiles %}


 {% block content %}
     <div class="content container">
            <div class="wrapper">


                     <form method="POST" class="post-form" name="edresform" action=".">
                        {% csrf_token %}
                         <table class="a table table-striped">

                        {{ form.as_table }}

                             <tr class="noborder"> <td colspan="4"> <input type="submit" value="Save"> </td></tr>


                          </table>




                     </form>



            </div>
     </div>

 {% endblock %}


 </body>

</html>


