{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

      {% include 'Elections/messages.html' %}



            <h3 align="center"><span class="label label-primary">Συνδυασμοί και κατανομή εδρών</span></h3>
            <h5 align="center"> Στο  {{ all_pososta.0.posostokatametrimenwnkentrwn }} % των εκλ. κέντρων</h5>
  <br>

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

                   <table class="table table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Εκλ. αναμέτρηση</td>
                                <td class="thick">Συνδυασμός</td>
                                <td class="thick">ΑΑ</td>
                                <td class="thick">Έδρες Α γύρου (αρχικές)</td>
                                <td class="thick">Έδρες Α γύρου (με το αχρησιμοποίητο υπόλοιπο)</td>
                                <td class="thick">Έδρες Α γύρου (τελικές)</td>
                                <td class="thick">Έδρες Β γύρου</td>
                                <td class="thick">Υπόλοιπο ψηφοδελτίων</td>
                                <td class="thick">Τελ. ενημέρωση</td>
                                <td class="thick">Ενέργειες </td>
                        </tr>
                        {% for p in all_eklsind %}
                              <tr>
                                <td > {{ p.eklid }}  </td>
                                <td > {{ p.sindid }} </td>
                                <td > {{ p.aa }} </td>
                                <td > {{ p.edresa }} </td>
                                <td > {{ p.edresa_ypol }} </td>
                                <td ><strong> {{ p.edresa_teliko }} </strong></td>
                                <td > {{ p.edresb }} </td>
                                <td > {{ p.ypol }} </td>
                                <td > {{ p.lastupdate }} </td>

                                <td >
                                    <a class="btn btn-default" href="{% url 'eklsind_edit' selected_ekloges p.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'eklsind_delete' selected_ekloges p.id%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'eklsind_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>



        </div>
</div>

{% endblock %}


