{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

      {% include 'Elections/messages.html' %}

     <div class="page-header">

            <h3 align="center">Τοπικοί Συνδυασμοί και κατανομή εδρών</h3>
     </div>

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

                    <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search" ></input>


                    <div class="divmargin"> </div>


                    <table class="table  table-hover">

                        <tbody >

                        <tr> <td colspan="11"><a href="{% url 'eklsindkoin_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>

                    <br>

                   <table class="table table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Εκλ. αναμέτρηση</td>
                                <td class="thick">Συνδυασμός</td>
                                <td class="thick">Κοινότητα</td>
                                <td class="thick">ΑΑ</td>
                                <td class="thick">Πρόεδρος</td>
                                <td class="thick">Έδρες Α γύρου (αρχικές)</td>
                                <td class="thick">Υπόλοιπο Εδρών Α γύρου</td>
                                <td class="thick">Έδρες Α γύρου (τελικές)</td>
                                <td class="thick">Υπόλοιπο ψηφοδελτίων</td>
                                <td class="thick">Ένδειξη ισοψηφίας</td>
                                <td class="thick" width="11%">Ενέργειες </td>

                        </tr>
                        {% for p in all_eklsindkoin %}
                              <tr>
                                <td > {{ p.eklid }}  </td>
                                <td > {{ p.sindid }} </td>
                                <td > {{ p.koinid }} </td>
                                <td > {{ p.aa }} </td>
                                <td > {% if  p.proedros is None %} {% else %} {{ p.proedros  }} {% endif %}</td>
                                <td > {{ p.edresk }} </td>
                                <td > {{ p.edresk_ypol }} </td>
                                <td > {{ p.edresk_teliko }} </td>
                                <td > {{ p.ypol }} </td>
                                <td > {{ p.checkfordraw }} </td>
                                <td >
                                    <a class="btn btn-default" href="{% url 'eklsindkoin_edit' selected_ekloges p.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'eklsindkoin_delete' selected_ekloges p.id%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table class="table  table-hover">

                        <tbody >

                        <tr> <td colspan="11"><a href="{% url 'eklsindkoin_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>

        </div>
</div>

{% endblock %}


