{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

      {% include 'Elections/messages.html' %}



            <label class="label4">Κατανομή εδρών για το Δημ. Συμβούλιο</label>
           {% if  all_pososta.0.posostokatametrimenwnkentrwn %}
              <label class="label7"> (Στο  {{ all_pososta.0.posostokatametrimenwnkentrwn }} % των εκλ. κέντρων)</label>
           {% endif %}



 <div class="divmargin"></div>

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

                   <table class="table table-condensed  table-hover">

                        <tbody >
                        <tr>
                                <th class="style1">Συνδυασμός</th>
                                <th class="style1">ΑΑ</th>
                                <th class="style1">Έδρες Α γύρου (αρχικές)</th>
                                <th class="style1">Έδρες Α γύρου <br> (με το αχρησιμοποίητο υπόλοιπο)</th>
                                <th class="style1">Έδρες Α γύρου (τελικές)</th>
                                <th class="style1">Έδρες Β γύρου</th>
                                <th class="style1">Υπόλοιπο ψηφοδελτίων</th>

                        </tr>
                        {% for p in all_eklsind %}
                              <tr>
                                <td > {{ p.sindid }} </td>
                                <td > {{ p.aa }} </td>
                                <td > {{ p.edresa }} </td>
                                <td > {{ p.edresa_ypol }} </td>
                                <td class="myfontsize"><strong> {{ p.edresa_teliko }} </strong></td>
                                <td > {{ p.edresb }} </td>
                                <td > {{ p.ypol }} </td>
                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>
            {% if all_eklsind.count  %}
                {% if all_eklsind.0.lastupdate  %}
                    <label class="label9"> Τελευταία ενημέρωση  {{ all_eklsind.0.lastupdate }}</label>
                {% else %}
                   <label class="label9"> Αναμένεται ενημέρωση από το διαχειριστή του συστήματος !  </label>
                {% endif %}
             {% else %}
               <label class="label9"> Αναμένεται ενημέρωση από το διαχειριστή του συστήματος !</label>
            {% endif %}

        </div>
</div>

{% endblock %}


