{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}



         <h3 align="center"><span class="label label-primary">Εκλ. Κέντρα</span></h3>
 <br>

 <div class="row">

       <div class="col-md-10 col-md-offset-1">


                     <input type="text" class="heighttext" id="livesearch" placeholder="live search"></input>


                    <div class="divmargin"> </div>


                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="8"><a href="{% url 'kentra_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>
                    <br>

                   <table class="table table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Περιγραφή</td>
                                <td class="thick">Εγγεγραμμένοι</td>
                                <td class="thick">Ψήφισαν</td>
                                <td class="thick">Άκυρα</td>
                                <td class="thick">Λευκά</td>
                                <td class="thick">Εκλ. Περιφέρεια</td>
                                <td class="thick">Κοινότητα</td>
                                <td class="thick"></td>
                        </tr>
                        {% for p in all_kentra %}
                              <tr>
                                <td > {{ p.descr}} </td>
                                <td > {{ p.eggegrammenoia}} </td>
                                <td > {{ p.psifisana}} </td>
                                <td > {{ p.akiraa}} </td>
                                <td > {{ p.lefkaa}} </td>
                                <td > {{ p.perid}} </td>
                                <td > {{ p.koinid}} </td>
                                <td .noborder>
                                    <a class="btn btn-default" href="{% url 'kentra_edit' selected_ekloges p.kenid%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'kentra_delete' selected_ekloges p.kenid%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr> <td colspan="8"><a href="{% url 'kentra_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>

                <div class="divmargin"></div>

        </div>
</div>

{% endblock %}


