{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}

     <div class="page-header">

            <h3 align="center">Εκλογικές Περιφέρειες</h3>

     </div>

 <div class="row">

       <div class="col-md-5 col-md-offset-4">

                   <table class="table table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Περιγραφή</td>
                                <td class="thick">Ενέργειες</td>


                        </tr>
                        {% for p in all_perifereies %}
                              <tr>
                                <td > {{ p.descr}} </td>
                                <td>
                                    <a class="btn btn-default" href="{% url 'perifereia_edit' selected_ekloges.0.eklid p.perid%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'perifereia_delete' selected_ekloges.0.eklid p.perid%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'perifereia_add' selected_ekloges.0.eklid%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>



        </div>
</div>

{% endblock %}

  </body>
</html>


