{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

        <!--<div id="div2"> -->
        <form method="get" name="perifereies">

         <select  class="sel3" id="myperifereies" name="perifereiaoption"  onchange="perifereies.submit()">
            {% for p in all_perifereies %}
             <option  value="{{  p.perid }}" {% if selected_perifereia.perid ==  p.perid  %}selected{%endif%}>{{ p.descr }}</option>
            {% endfor %}
         </select>


        <div class="divmargin"> </div>

        </form>

        <!--</div> -->


        <div id="container"></div>

         <script src="https://code.highcharts.com/highcharts.src.js"></script>
         <script src="https://code.highcharts.com/modules/exporting.js"></script>
         <script src="https://code.highcharts.com/modules/export-data.js"></script>

         <script>
            var e = document.getElementById("myperifereies");
            var perifereia = e.options[e.selectedIndex].text;

           Highcharts.chart('container', {
               chart: {
                   type: 'column'
               },
               title: {
                   text: '<span class="label label-primary">' + 'Ποσοστά συνδυασμών ' +   ' στο ' + {{ all_pososta.0.posostokatametrimenwnkentrwn }} + ' % των εκλ. κέντρων' +
                        '<br>'  + '(' + perifereia + ')' + '</span>',
                   style: {
                       color: 'red',
                       fontSize: '20px'

                   },
               },
               xAxis: {
                   categories: [
                   {% for entry in all_posostaper %}'<span class="label label-primary">{{ entry.shortdescr }}</span> '{% if not forloop.last %}, {% endif %}{% endfor %}
                 ],
                   labels: {
                   style: {
                       color: 'red',
                       fontSize:'16px'
                    }
                   }

               },
               series: [{
                   name: 'Ποσοστά υποψηφίων',
                 data: [
                   {% for entry in all_posostaper %}{{ entry.posostosindiasmou }}{% if not forloop.last %}, {% endif %}{% endfor %}
                 ],
                 color: 'blue',
               }],
               plotOptions: {
                   series: {
                   dataLabels: {
                       enabled: true,
                       fontSize:'34px',
                       format:"{y} %"
                   }
                }

               }
           });
         </script>

           <div class="a container-fluid" overflow:auto align="center">


                      <table class="a table table-bordered table-striped table-condensed">

                           <tbody >
                           <tr>
                                   <td class="thick">Συνδυασμός</td>
                                   <td class="thick">Ποσοστό </td>
                           </tr>
                           {% for p in all_posostaper %}
                                 <tr>
                                   <td >{{ p.sindiasmos }}</td>
                                   <td class="myfontsize">{{ p.posostosindiasmou }} %</td>
                                 </tr>
                             {% endfor %}
                           </tbody>
                      </table>
                    <div class="divmargin"> </div>


           </div>


        </div>
 </div>


{% endblock %}



