{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

             <div id="container"></div>

              <script src="https://code.highcharts.com/highcharts.src.js"></script>
             <script src="https://code.highcharts.com/modules/exporting.js"></script>
             <script src="https://code.highcharts.com/modules/export-data.js"></script>

              <script>
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '<span class="label label-primary">Συγκεντρωτικά ποσοστά συνδυασμών στο  {{ all_pososta.0.posostokatametrimenwnkentrwn }} % των εκλ. κέντρων (για Δημ. Συμβούλιο)</span>',
                        style: {
                            color: 'red',
                            fontSize:'20px'
                         },
                    },
                    xAxis: {
                        categories: [
                        {% for entry in all_pososta %}'<span class="label label-primary">{{ entry.shortdescr }}</span> ' {% if not forloop.last %}, {% endif %}{% endfor %}
                      ],
                        labels: {
                        style: {
                            color: 'red',
                            fontSize:'16px'
                         }
                        }

                    },
                    series: [{
                        name: 'Ποσοστά υποψηφίων',
                        colorByPoint: true,
                      data: [
                        {% for entry in all_pososta %}{{ entry.posostosindiasmou }}{% if not forloop.last %}, {% endif %}{% endfor %}
                      ],
                      colors: ['#f3f36b',  '#807c7a', '#a24508', '#375772', '#f1deef', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
                    }],
                    plotOptions: {
                        series: {
                        dataLabels: {
                            enabled: true,
                            fontSize:'34px',
                            format:"{y} %"
                        }
                     }

                    }
                });
              </script>

                <div class="container-fluid" overflow:auto align="center">

                    <div class="divmargin"></div>


                           <table class="a table table-bordered  table-striped">

                                <tbody >
                                <tr>
                                        <td class="thick">Συνδυασμός</td>
                                        <td class="thick">Ποσοστό </td>
                                    {% if all_pososta_prin.count %}
                                    <td class="thick"><center>{{ all_pososta_prin.0.eklid.descr }}</center></td>
                                    <td class="thick"><center>Διαφορά</center></td>
                                    {% endif %}
                                </tr>
                                {% for p in all_pososta %}
                                      <tr>
                                        <td ><center>  {% if p.sindid.photofield.url %} <img src="{{ p.sindid.photofield.url}}" alt="{{ p.sindid.shortdescr}}" width="100px" height="160px" /> {% endif %}
                                           <br> <label class="label label-primary"> {{ p.sindid.shortdescr }} </label></center>
                                        </td>
                                        <td class="myfontsize">{{ p.posostosindiasmou }} %</td>
                                       {% if all_pososta_prin.count %}
                                        <td class="thick "><center>
                                            {% for item in all_pososta_prin %}
                                                {% if item.sindid == p.sindid %}
                                                  {{ item.posostosindiasmou }} %
                                                {% endif %}
                                            {%  endfor %}
                                        </center>
                                        </td>
                                      <td class="thick"><center>
                                          {% for item in all_pososta_prin %}
                                              {% for old in oldsind_pososta_list %}
                                                {% if p.sindid == old.0 and p.sindid == item.sindid%}
                                                     {% if old.1 < 0 %}
                                                        <div class="TransactionAmount NegativeTransaction">
                                                     {% else %}
                                                        <div class="TransactionAmount PositiveTransaction">
                                                     {% endif %}
                                                              {{ old.1 }} %
                                                        </div>
                                                {% endif %}
                                            {%  endfor %}
                                           {%  endfor %}

                                          </center>

                                      </td>
                                      {% endif %}
                                      </tr>
                                  {% endfor %}
                                </tbody>
                           </table>



                <div class="divmargin"> </div>


                </div>

             </div>
 </div>

{% endblock %}

  </body>
</html>


