{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

 <div class="row">

       <div class="col-md-10 col-md-offset-2">

             <div id="container"></div>

              <script src="https://code.highcharts.com/highcharts.src.js"></script>
             <script src="https://code.highcharts.com/modules/exporting.js"></script>
             <script src="https://code.highcharts.com/modules/export-data.js"></script>

              <script>
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        {% if all_pososta.count > 0 %}
                            {% if sunday == 1 %}
                                text: '<span class="label label-primary">Συγκεντρωτικά ποσοστά συνδυασμών στο  {{ all_pososta.0.posostokatametrimenwnkentrwn }} % των εκλ. κέντρων (για Δημ. Συμβούλιο - Α Κυριακή)</span>',
                            {% else %}
                                {% if all_pososta.0.posostokatametrimenwnkentrwnb > 0 %}
                                    text: '<span class="label label-primary">Συγκεντρωτικά ποσοστά συνδυασμών στο  {{ all_pososta.0.posostokatametrimenwnkentrwnb }} % των εκλ. κέντρων (για Δημ. Συμβούλιο - Β Κυριακή)</span>',
                                {% else %}
                                    text: '<span class="label label-primary">Συγκεντρωτικά ποσοστά συνδυασμών στο  0 % των εκλ. κέντρων (για Δημ. Συμβούλιο - Β Κυριακή)</span>',
                                {% endif %}
                            {%  endif %}
                        {% else %}
                           text: '<span class="label label-primary">Συγκεντρωτικά ποσοστά συνδυασμών στο  0 % των εκλ. κέντρων (για Δημ. Συμβούλιο)</span>',
                        {% endif %}
                        style: {
                            color: 'red',
                            fontSize:'20px'
                         },
                    },
                    xAxis: {
                        categories: [
                            {% if all_pososta.count > 0 %}
                                {% for entry in all_pososta %}'<span class="label label-primary">{{ entry.shortdescrnew }}</span> ' {% if not forloop.last %}, {% endif %}{% endfor %}
                            {% else %}
                                {% for entry in all_eklsind %}'<span class="label label-primary">{{ entry.shortdescr}}</span> ' {% if not forloop.last %}, {% endif %}{% endfor %}
                            {% endif %}
                      ],
                        labels: {
                        style: {
                            color: 'red',
                            fontSize:'16px'
                         }
                        }

                    },
                    series: [{
                        name: 'Ποσοστά υποψηφίων',
                        colorByPoint: true,
                      data: [
                          {% if all_pososta.count > 0 %}
                              {% if sunday == 1 %}
                                 {% for entry in all_pososta %}{{ entry.posostosindiasmou }}{% if not forloop.last %}, {% endif %}{% endfor %}
                              {% else %}
                                  {% for entry in all_pososta %}{{ entry.posostosindiasmoub }}{% if not forloop.last %}, {% endif %}{% endfor %}
                              {% endif %}
                          {% else %}
                                {% for entry in all_eklsind %}'<span class="label label-primary"> 0 </span> ' {% if not forloop.last %}, {% endif %}{% endfor %}
                          {% endif %}
                      ],
                      colors: ['#f3f36b',  '#807c7a', '#a24508', '#375772', '#914d8a', '#492970', '#97a038', '#77a1e5', '#c42525', '#a6c96a'],
                    }],
                    plotOptions: {
                        series: {
                        dataLabels: {
                            enabled: true,
                            fontSize:'34px',
                            format:"{y} %"
                        }
                     }

                    }
                });
              </script>

       <br>
       <br>

           </div>
 </div>

       <div class="row">
                <div class="col-sm-offset-2 container-fluid" overflow:auto align="center">

                          {% if all_pososta.count > 0 %}

                            <table class="a table table-bordered  table-striped">

                                <tbody >
                                <tr>
                                        <td class="thick text-center"></td>
                                        {% for p in all_pososta %}

                                         <td class="text-center"> {% if p.photofieldnew.url %} <img src="{{ p.photofieldnew.url}}" alt="{{ p.shortdescrnew}}" width="100px" height="160px" /> {% endif %}
                                            <br> <label class="label label-primary"> {{ p.shortdescrnew }} </label>

                                         </td>
                                       {% endfor %}
                                 </tr>
                                 <tr>
                                        <td class="thick">Ποσοστό</td>
                                           {% for p in all_pososta %}
                                                <td class="myfontsize text-center">
                                                    {% if sunday == 1 %}
                                                        {{ p.posostosindiasmou }} %
                                                    {% else %}
                                                        {{ p.posostosindiasmoub }} %
                                                    {% endif %}
                                                    <br>
                                                    {% if sunday == 1 %}
                                                        <small>({{ p.sumvotes  }} ψήφοι)</small>
                                                    {% else %}
                                                        <small>({{ p.sumvotesb  }} ψήφοι)</small>
                                                    {% endif %}
                                                </td>
                                           {% endfor %}
                                 </tr>

                                {% if all_pososta_prin.count and sunday == 1 %}
                                    <tr>
                                        <td class="thick">{{ all_pososta_prin.0.eklid.descr }}</td>
                                        {% for p in all_pososta %}
                                            {% for item in all_pososta_prin_list %}
                                                    {% if item.0 == p.sindid %}
                                                        {% if item.2 > 0 %}
                                                            <td class="text-center"> {{ item.1 }}  %
                                                        {% else %}
                                                            <td class="text-center"> {{ item.1 }}
                                                        {% endif %}
                                                        <br>
                                                            {% if item.2 > 0 %}
                                                                <small>({{ item.2 }} ψήφοι)</small>
                                                            {%  endif %}
                                                        </td>
                                                    {% endif %}

                                            {%  endfor %}
                                        {%  endfor %}

                                    </tr>
                                    <tr>
                                    <td class="thick">Διαφορά</td>
                                    {% for p in all_pososta %}
                                    {% for item in all_pososta_prin_list %}
                                          {% for diafora in diafores_list %}
                                            {% if p.sindid == diafora.0 and p.sindid == item.0%}
                                                <td class="text-center">
                                                {% if diafora.1 == 'Δεν συμμετείχε ως υποψήφιος συνδυασμός' %}
                                                    -
                                                {%  else %}
                                                     {% if diafora.1 < 0 %}
                                                        <div class="TransactionAmount NegativeTransaction text-center">
                                                     {% else %}
                                                        <div class="TransactionAmount PositiveTransaction text-center">
                                                     {% endif %}
                                                      {{ diafora.1 }} %
                                                        </div>
                                                {% endif %}
                                                </td>
                                            {% endif %}
                                    {%  endfor %}
                                    {%  endfor %}
                                    {%  endfor %}

                                    </tr>
                                {% endif %}

                                </tbody>
                           </table>

                              <br><font size="-1">(Οι χρωματικές αποχρώσεις στο ραβδόγραμμα έχουν επιλεγεί με τυχαίο τρόπο)</font>

                         {% endif %}




                <div class="divmargin"> </div>


                </div>

             </div>


        </div>




{% endblock %}

  </body>
</html>


