{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

<div class="divmargin">
<label class="label4">Ψήφοι υποψηφίων συμβούλων ανά εκλ. κέντρο</label>
</div>

<div class="divmargin"> </div>



<div class="row">

       <div class="col-md-9 col-md-offset-2">

        <div class="container">

        <form method="get" name="kentra">

             <select  class="sel2" id="mydir" name="kentrooption"  onchange="kentra.submit()">
                {% for p in all_kentra %}
                 <option  value="{{  p.kenid }}" {% if selected_kentro ==  p.kenid  %} selected {%endif%}>Εκλ. Κέντρο {{ p.descr }}</option>
                {% endfor %}
             </select>

             <select   name="orderoption"  onchange="kentra.submit()">
                 <option  value="5" {% if selected_order ==  5  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                 <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Συνδυασμό/Σύνολο Ψήφων</option>
                 <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμο</option>
                 <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Επώνυμο</option>
                 <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>Κατά Σύνολο ψήφων</option>
             </select>

            <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search"></input>

            <br>

         </form>

        <div class="divmargin"> </div>

        <a href={% url 'export_psifoisimbken' selected_ekloges selected_order %}><i class="far fa-file-excel"></i> Εξαγωγή όλων σε excel</a>

        </div>

        <div class="divmargin"></div>



         <table class="table styletd2 table-bordered table-striped table-condensed table-hover">

           <tbody >
           <tr>
                   <td class="thick">Επώνυμο</td>
                   <td class="thick">Όνομα </td>
                   <td class="thick">Όν. Πατρός</td>
                   <td class="thick">Συνδυασμός</td>
                   <td class="thick">Ψηφοδέλτια</td>
           </tr>
           {% for p in all_psifoi %}
                 <tr>
                    <td >{{ p.surname }}</td>
                    <td >{{ p.firstname }}</td>
                    <td >{{ p.fathername }}</td>
                    <td >{% if p.sindiasmos == None %} {% else %}{{ p.sindiasmos }} {% endif %}</td>
                    <td class="myfontsize">{{ p.votes }}</td>
                 </tr>
             {% endfor %}
           </tbody>
      </table>



     <br />


         </div>

   </div>

<script>


</script>



 </div>



{% endblock %}




  </body>

</html>


