{% extends 'Elections/base.html' %}

{% load staticfiles %}
{% load elections_extras %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

<div class="divmargin">
<label class="label4">Κατάταξη υποψηφίων δημοτικών συμβούλων </label>
</div>

<div class="divmargin"> </div>



<div class="row">

       <div class="col-md-9 col-md-offset-1">

        <div class="container">

        <form method="get" name="perifereies">

         <select  class="sel3" id="mydir" name="perifereiaoption"  onchange="perifereies.submit()">
         <option  value="0" {% if selected_perifereia ==  0  %} selected {%endif%}>ΑΝΕΞΑΡΤΗΤΟΥ ΕΚΛ. ΠΕΡΙΦΕΡΕΙΑΣ</option>
            {% for p in all_perifereies %}
             <option  value="{{  p.perid }}" {% if selected_perifereia ==  p.perid  %} selected {%endif%}>{{ p.descr }}</option>
            {% endfor %}

         </select>
         <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search"></input>

        <div class="divmargin"> </div>

        <div>
        <select  class="sel3"  name="orderoption"  onchange="perifereies.submit()">
         <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>----------------Επιλογή ταξινόμησης----------------</option>
             <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Συνδυασμό/Σύνολο Ψήφων</option>
             <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμα</option>
             <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Σύνολο ψήφων</option>

         </select>
        <a style="color: blue;  font-family:Calibri;" class="pull-right" href="{% url 'export_psifoiper_xls' selected_ekloges selected_order %}"><i class="far fa-file-excel"></i> <label class="label5">Εξαγωγή όλων σε excel</label></a>

         </div>

        <div class="checkbox">
          <label><input type="checkbox" name="vehicle1" value="">Προβολή συγκριτικών</label>
        </div>
        </form>


       </div>

        <div class="divmargin"> </div>

        <br>

        <table class="table styletd1 table-bordered table-striped table-condensed  table-hover">
           <tbody >
           <tr>
                   <td class="thick">Επίθετο</td>
                   <td class="thick">Όνομα </td>
                    <td class="thick">Ον. πατρός  </td>
                    <td class="thick"> Συνδυασμός  </td>
                    <td class="thick">Ψήφοι </td>
                    {% if all_psifoi_prin.count %}
                        <td class="thick"><center>{{ ekloges_prin.descr }} (διαφορά ψήφων)</center></td>

                    {% endif %}
           </tr>
           {% for p in all_psifoi %}
                 <tr>
                    <td>{{ p.2 }} </td>
                    <td >{{ p.3 }}</td>
                    <td>{{ p.4 }} </td>
                     <td >{{ p.5 }}</td>
                    <td class="myfontsize">{{ p.7 }}</td>
                     {% if all_psifoi_prin.count %}
                        <td class="thick "><center>
                            {% for item in all_psifoi_prin %}
                                {% if item.1 == p.1 %}
                                    {{ item.2 }}
                                    {% if p.7|subtract:item.2 < 0 %}
                                            <div class="TransactionAmount NegativeTransaction">
                                                ({{ p.7|subtract:item.2  }})
                                    {% else %}
                                            <div class="TransactionAmount PositiveTransaction">
                                                (+{{ p.7|subtract:item.2  }})
                                    {% endif %}

                                            </div>

                                {% endif %}
                            {%  endfor %}
                        </center>
                        </td>

                    {% endif %}
                 </tr>
             {% endfor %}
           </tbody>
      </table>

   </div>



 </div>

{% endblock %}

  </body>
</html>


