{% extends 'Elections/base.html' %}

{% load staticfiles %}
{% load elections_extras %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}

<div class="divmargin">
<label class="label4">Ψήφοι υποψηφίων συμβούλων ανά εκλ. κέντρο</label>
</div>

<div class="divmargin"> </div>



<div class="row">

       <div class="col-md-8 col-md-offset-2">

            <div class="container">

            <form method="get" name="kentra">
                <label class="label5">Εκλογικό κέντρο</label>
                 <select  class="sel3" id="mydir" name="kentrooption"  onchange="kentra.submit()">
                    {% for p in all_kentra %}
                     <option  value="{{  p.kenid }}" {% if selected_kentro ==  p.kenid  %} selected {%endif%}>{{ p.descr }}</option>
                    {% endfor %}
                 </select>

             <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search"></input>

            <div class="divmargin"> </div>


            <div>

                 <select   class="sel3" name="orderoption"  onchange="kentra.submit()">
                     <option  value="6" {% if selected_order ==  6  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                     <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Συνδυασμό/Σύνολο Ψήφων</option>
                     <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμο</option>
                     <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Επώνυμο</option>
                     <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>Κατά Σύνολο ψήφων</option>
                     <option  value="5" {% if selected_order ==  5  %}selected{%endif%}>Κατά Είδος Υποψηφίου/Σύνολο Ψήφων</option>
                 </select>

                <a class="pull-right" href={% url 'export_psifoisimbken' selected_ekloges selected_order %}><i class="far fa-file-excel label5"></i>Εξαγωγή όλων σε excel</a>
            </div>

        </form>

        </div>

       {% if listakataxoritaPer or  listakataxoritaKoin %}

        <div style="border: thick solid red">
        {% if listakataxoritaPer %}
            <label class="label6">Δεν καταχωρήθηκε σταυροδοσία για τους υποψ. δημοτικούς συμβούλους σταεκλ. κέντρα:</label>
            {% for i in listakataxoritaPer %}
              {{ listakataxoritaPer|index:forloop.counter0 }}
                 {% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}

        <br>

        {% if listakataxoritaKoin %}
            <label class="label6">Δεν καταχωρήθηκε η σταυροδοσία για τους υποψ. τοπικούς συμβούλους στα εκλ. κέντρα:</label>
            {% for i in listakataxoritaKoin %}
              {{ listakataxoritaKoin|index:forloop.counter0 }}
                 {% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
        </div>

       {% endif %}



        <div class="divmargin"></div>

         <table class="table styletd1 table-bordered table-condensed table-hover">

           <tbody >
           <tr>
                   <th class="style1">Α/Α</th>
                   <th class="style1">Επώνυμο</th>
                   <th class="style1">Όνομα </th>
                   <th class="style1">Όν. Πατρός</th>
                   <th class="style1">Είδος</th>
                   <th class="style1">Συνδυασμός</th>
                   <th class="style1">Ψήφοι</th>
           </tr>
           {% for p in all_psifoi %}
                 <tr>
                    <td>{{ forloop.counter }} </td>  <!-- counter a/a -->
                    <td >{{ p.surname }}</td>
                    <td >{{ p.firstname }}</td>
                    <td >{{ p.fathername }}</td>
                    <td >{{ p.eidos }}</td>
                     <td >{% if p.sindiasmosnew == None %} {% else %}{{ p.sindiasmosnew }} {% endif %}</td>
                    <td class="myfontsize">{{ p.votes }}</td>
                 </tr>
             {% endfor %}
           </tbody>
      </table>



     <br />




     </div>

   </div>

<script>


</script>



 </div>



{% endblock %}




  </body>

</html>


