{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

<div class="divmargin">
    {% if sunday == 1 or sunday == 2%}
        <label class="label4">Ψηφοδέλτια συνδυασμών ανά εκλ. κέντρο για την εκλογή Δημοτικής Αρχής</label>
    {%  else  %}
        <label class="label4">Ψηφοδέλτια συνδυασμών ανά εκλ. κέντρο για την ανάδειξη Τοπικού Συμβουλίου</label>
    {%  endif  %}
</div>

<div class="divmargin"> </div>



 <div class="row">

       <div class="col-md-8 col-md-offset-2">

            <div class="container">

                        <form method="get" name="kentra">
                        <label class="label5">Εκλογικό κέντρο</label>
                         <select  class="sel3" id="mydir" name="kentrooption"  onchange="kentra.submit()">
                            {% for p in all_kentra %}
                             <option  value="{{  p.kenid }}" {% if selected_kentro ==  p.kenid  %}selected{%endif%}>{{ p.descr }}</option>
                            {% endfor %}
                         </select>


                         <select   class="sel3 pull-right" name="orderoption"  onchange="kentra.submit()">
                             <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                             <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Εκλ. Κέντρο/Ψηφοδέλτια </option>
                             <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Εκλ. Κέντρο/Συνδυασμό</option>
                             <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Συνδυασμό/Εκλ. Κέντρο</option>
                         </select>

                        <div class="divmargin"></div>

                        {% if sunday == 1 %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 1 selected_order %}><i class="far fa-file-excel"></i> <label class="label5">Εξαγωγή όλων σε excel</label></a>
                        {% elif sunday == 2 %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 2 selected_order %}><i class="far fa-file-excel"></i><label class="label5">Εξαγωγή όλων σε excel</label></a>
                        {% else %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 3 selected_order %}><i class="far fa-file-excel"></i> <label class="label5">Εξαγωγή όλων σε excel</label></a>
                        {% endif %}



                        </form>
            <br>
            <hr>


             <div class="text-center">
                 {% if sunday == 1 %}
                    <label class="label6 pull-center">Α' Κυριακή</label>
                 {% elif sunday == 2 %}
                    <label class="label6 pull-center">Β' Κυριακή</label>
                 {% else %}
                    <label class="label6 pull-center">Για το τοπικό Συμβούλιο </label>
                 {% endif %}
             </div>

            <div class="divmargin"></div>


                 <table class="table table-bordered table-striped table-condensed table-hover">

                   <tbody >
                   <tr>
                           <td class="thick">Συνδυασμός </td>
                           <td class="thick">Ψηφοδέλτια </td>
                   </tr>
                   {% for p in all_psifodeltia %}
                         <tr>
                            <td >{{ p.sindiasmos }}</td>
                             {% if sunday == 1 %}
                                <td class="myfontsize">{{ p.votes }}</td>
                             {% elif sunday == 2 %}
                                <td class="myfontsize">{{ p.votesb }}</td>
                             {% else %}
                                <td class="myfontsize">{{ p.votesk }}</td>
                             {% endif %}
                         </tr>
                     {% endfor %}
                   </tbody>
                </table>




            <div class="divmargin"></div>

            </div>


     </div>



 </div>

{% endblock %}

  </body>

</html>


