{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}


    {% if sunday == 1 or sunday == 2%}
        <label class="label4">Ψηφοδέλτια συνδυασμών ανά εκλ. κέντρο για την εκλογή Δημοτικής Αρχής</label>
    {%  else  %}
        <label class="label4">Ψηφοδέλτια συνδυασμών ανά εκλ. κέντρο για την ανάδειξη Τοπικού Συμβουλίου</label>
    {%  endif  %}



<div class="divmargin"> </div>



 <div class="row">

       <div class="col-md-8 col-md-offset-2">

            <div class="container">

                        <form method="get" name="kentra">
                        <label class="label5">Εκλογικό κέντρο</label>
                         <select  class="sel3" id="mykentra" name="kentrooption"  onchange="kentra.submit()">
                            {% for p in all_kentra %}
                             <option  value="{{  p.kenid }}" {% if selected_kentro ==  p.kenid  %}selected{%endif%}>{{ p.descr }}</option>
                            {% endfor %}
                         </select>


                         <select   class="sel3 pull-right" name="orderoption"  onchange="kentra.submit()">
                             <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                             <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Εκλ. Κέντρο/Ψηφοδέλτια </option>
                             <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Εκλ. Κέντρο/Συνδυασμό</option>
                             <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Συνδυασμό/Εκλ. Κέντρο</option>
                         </select>

                        <div class="divmargin"></div>

                        {% if sunday == 1 %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 1 selected_order %}><i class="far fa-file-excel"></i> <label class="label5"> Εξαγωγή όλων σε excel</label></a>
                        {% elif sunday == 2 %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 2 selected_order %}><i class="far fa-file-excel"></i> <label class="label5"> Εξαγωγή όλων σε excel</label></a>
                        {% else %}
                          <a style="color: blue; font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_ken' selected_ekloges 3 selected_order %}><i class="far fa-file-excel"></i> <label class="label5"> Εξαγωγή όλων σε excel</label></a>
                        {% endif %}



                        </form>
            <br>
            <hr>

            <div class="text-center small">
                <label>{{  selected_koinotita }} (

                 {% if sunday == 1 %}
                    <label class="pull-center">Α' Κυριακή</label>
                 {% elif sunday == 2 %}
                    <label class="pull-center">Β' Κυριακή)</label>
                 {% else %} <label class="text-center">
                     <label class="pull-center">Για το τοπικό Συμβούλιο </label>
                 {% endif %}
                </label>
            )
            </div>



            <br>

            <table class="table table-bordered table-condensed  text-left">

                   <tbody >

                   {% if sunday == 1 %}

                         <tr>
                            <td >Εγγεγραμμένοι : {{ selected_kentro_details.eggegrammenoia }}</td>
                            <td >Ψήφισαν : {{ selected_kentro_details.psifisana }}</td>
                            <td class="myfontsize">Έγκυρα : {{ selected_kentro_details.egkiraa }}</td>
                         </tr>
                         <tr>
                            <td >Άκυρα : {{ selected_kentro_details.akiraa }}</td>
                            <td >Λευκά : {{ selected_kentro_details.lefkaa }}</td>
                            <td >Σύνολο Άκυρα/Λευκά : {{ selected_kentro_details.sinoloakiralefkaa }}</td>
                         </tr>
                     {%  elif sunday == 2 %}
                         <tr>
                            <td >Εγγεγραμμένοι : {{ selected_kentro_details.eggegrammenoib }}</td>
                            <td >Ψήφισαν : {{ selected_kentro_details.psifisanb }}</td>
                            <td class="myfontsize">Έγκυρα : {{ selected_kentro_details.egkirab }}</td>
                         </tr>
                         <tr>
                            <td >Άκυρα : {{ selected_kentro_details.akirab }}</td>
                            <td >Λευκά : {{ selected_kentro_details.lefkab }}</td>
                            <td >Σύνολο Άκυρα/Λευκά : {{ selected_kentro_details.sinoloakiralefkab }}</td>
                         </tr>

                     {%  else %}
                        <tr>
                            <td >Εγγεγραμμένοι : {{ selected_kentro_details.eggegrammenoik }}</td>
                            <td >Ψήφισαν : {{ selected_kentro_details.psifisank }}</td>
                            <td class="myfontsize">Έγκυρα : {{ selected_kentro_details.egkirak }}</td>
                         </tr>
                         <tr>
                            <td >Άκυρα : {{ selected_kentro_details.akirak }}</td>
                            <td >Λευκά : {{ selected_kentro_details.lefkak }}</td>
                            <td >Σύνολο Άκυρα/Λευκά : {{ selected_kentro_details.sinoloakiralefkak }}</td>
                         </tr>

                     {% endif %}

                   </tbody>


                </table>



                 <table class="table table-bordered table-condensed table-hover">

                   <tbody >
                   <tr >
                           <th class="style1">Συνδυασμός </th>
                           <th class="style1">Ψηφοδέλτια </th>
                   </tr>
                   {% for p in all_psifodeltia %}
                         <tr>
                            <td ><h6>{{ p.sindiasmosnew }}</h6></td>
                             {% if sunday == 1 %}
                                <td class="myfontsize">{{ p.votes }}</td>
                             {% elif sunday == 2 %}
                                <td class="myfontsize">{{ p.votesb }}</td>
                             {% else %}
                                <td class="myfontsize">{{ p.votesk }}</td>
                             {% endif %}
                         </tr>
                     {% endfor %}

                   </tbody>
                </table>

            <br>

            </div>



     <div id="container" >
     <!--style="min-width: 410px; height: 400px; max-width: 800px; margin: 0 auto" -->

         <script src="https://code.highcharts.com/highcharts.src.js"></script>
         <script src="https://code.highcharts.com/modules/exporting.js"></script>
         <script src="https://code.highcharts.com/modules/export-data.js"></script>

              <script>
              if ({{ sumpsifodeltia }}>0) {  /* Μόνο αν υπάρχουν ψηφοδέλτια καταχωρημένα δείχνω και την πίτα */

                  var e = document.getElementById("mykentra");
                  var kentro = e.options[e.selectedIndex].text;
                  Highcharts.getOptions().plotOptions.pie.colors=['#f3f36b',  '#807c7a', '#a24508', '#375772', '#f1deef', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];

                  Highcharts.chart('container', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Ποσοστιαία κατανομή για το εκλογικό κέντρο ' + kentro,
                        style: {
                            color: 'red',
                            fontSize:'18px',
                            fontFamily : 'Calibri'
                         },
                    },
                    series: [{
                        name: 'Ψηφοδέλτια υποψηφίων',
                        colorByPoint: true,
                      data: [
                        {% for entry in all_psifodeltia %}
                          {name:"{{ entry.sindiasmosnew }}",
                              {% if sunday == 1 %} y:{{ entry.votes }}
                              {% elif sunday == 2 %} y:{{ entry.votesb }}
                              {% else %} y:{{ entry.votesk }}
                              {% endif %},
                            sliced: true} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      ]
                    }],
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} % ',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                });

              }
              </script>


            </div>



     </div>



 </div>

 </div>


{% endblock %}

  </body>

</html>


