{% extends 'Elections/base.html' %}

{% load staticfiles %}
{% load elections_extras %}


<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}

<div class="divmargin">
<label class="label4">Κατάταξη υποψηφίων δημοτικών συμβούλων </label>
</div>

<div class="divmargin">

 <label class="label7">(Στα {{ katametrimena_psifoi }} από τα {{ all_pososta.0.plithoskentrwn }}  εκλ. κέντρα) </label>
 </div>

     <!--

     <div class="text-center">
     <br>
         <label class="label6"><u>Η ροή καταχώρησης της σταυροδοσίας διαφέρει από αυτήν της καταχώρησης των ψηφοδελτίων!</u></label>



     </div>

     -->

<div class="row">

       <div class="col-md-9 col-md-offset-1">

        <div class="container">

        <form method="get" name="perifereies">

         <select  class="sel3" id="mydir" name="perifereiaoption"  onchange="perifereies.submit()">
         <option  value="0" {% if selected_perifereia ==  0  %} selected {%endif%}>ΑΝΕΞΑΡΤΗΤΟΥ ΕΚΛ. ΠΕΡΙΦΕΡΕΙΑΣ</option>
            {% for p in all_perifereies %}
             <option  value="{{  p.perid }}" {% if selected_perifereia ==  p.perid  %} selected {%endif%}>{{ p.descr }}</option>
            {% endfor %}

         </select>
         <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search"></input>

        <div class="divmargin"> </div>

        <div>
        <select  class="sel3"  name="orderoption"  onchange="perifereies.submit()">
         <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>-----------------Επιλογή ταξινόμησης-----------------</option>
             <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Συνδυασμό/Σύνολο Ψήφων</option>
             <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμα</option>
             <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Σύνολο ψήφων</option>

         </select>
        <a style="color: blue;  font-family:Calibri;" class="pull-right" href="{% url 'export_psifoiper_xls' selected_ekloges selected_order %}"><i class="far fa-file-excel"></i> <label class="label5">Εξαγωγή όλων σε excel</label></a>

         </div>


         <div class="divmargin"> </div>


        <p>
            <input type="checkbox" {% if sigritika ==  1  %}checked{%endif%} name="sigritika" id="sigritika" onclick="perifereies.submit()"/>
            <label for="sigritika">Προβολή σταυροδοσίας προηγούμενων Εκλογών</label>
        </p>

        </form>

        <div class="divmargin"> </div>

        <br>

        <table class="table styletd1 table-bordered table-condensed  table-hover">
           <tbody >
           <tr>
                   <th class="style1">Α/Α</th>
                   <th class="style1">Επίθετο</th>
                   <th class="style1">Όνομα </th>
                    <th class="style1">Ον. πατρός  </th>
                    <th class="style1"> Συνδυασμός  </th>
                    <th class="style1">Ψήφοι </th>
                    {% if all_psifoi_prin.count %}
                        <th class="style1"><center>{{ ekloges_prin.descr }} (διαφορά ψήφων)</center></th>

                    {% endif %}
           </tr>
           {% for p in all_psifoi %}
                 <tr>
                    {% if selected_order == 1 %}
                       <td>{{ listaa|index:forloop.counter0 }} </td>    <!-- counter a/a -->
                    {% else %}
                       <td>{{ forloop.counter }} </td>
                    {%  endif %}

                    <td>{{ p.2 }} </td>
                    <td >{{ p.3 }}</td>
                    <td>{{ p.4 }} </td>
                     <td >{{ p.5 }}</td>
                    <td class="myfontsize">{{ p.7 }}</td>
                     {% if all_psifoi_prin.count %}
                        <td class="thick "><center>
                            {% for item in all_psifoi_prin %}
                                {% if item.1 == p.1 %}
                                    {{ item.2 }}
                                    {% if p.7|subtract:item.2 < 0 %}
                                            <div class="TransactionAmount NegativeTransaction">
                                                ({{ p.7|subtract:item.2  }})
                                    {% else %}
                                            <div class="TransactionAmount PositiveTransaction">
                                                (+{{ p.7|subtract:item.2  }})
                                    {% endif %}

                                            </div>

                                {% endif %}
                            {%  endfor %}
                        </center>
                        </td>

                    {% endif %}
                 </tr>
             {% endfor %}
           </tbody>
      </table>

    </div>

   </div>


 </div>

{% endblock %}

  </body>
</html>


