{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

<div class="divmargin">
<label class="label4">Κατάταξη υποψηφίων συμβούλων κοινοτήτων {{ selected_menu }}</label>
</div>


<div class="divmargin"> </div>


<div class="row">

       <div class="col-md-8 col-md-offset-2">

        <div class="container">

        <form method="get" name="koinotites">

         <select  class="sel3" id="mydir" name="koinotitaoption"  onchange="koinotites.submit()">
            {% for p in all_koinotites %}
             <option  value="{{  p.koinid }}" {% if selected_koinotita.0.koinid ==  p.koinid  %}selected{%endif%}>{{ p.descr }}</option>
            {% endfor %}
         </select>

        <input type="text" class="heighttext  pull-right" id="livesearch" width="200px" placeholder="live search"></input>

         <div class="divmargin"> </div>

        <div>

         <select   class="sel3" name="orderoption"  onchange="koinotites.submit()">
            <option  value="5" {% if selected_order ==  5  %}selected{%endif%}>-----Επιλογή ταξινόμησης-----</option>
            {% if all_psifoi.0.eidoskoinotitas != 3 %}
             <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Συνδυασμό/Σύνολο Ψήφων</option>
             <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμο</option>
            {% else %}
            <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>Κατά Επώνυμο</option>
            {% endif %}
             <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Σύνολο ψήφων</option>
         </select>

        <a style="color: blue;  font-family:Calibri;" class="pull-right" href="{% url 'export_psifoikoin_xls' selected_ekloges selected_order %}"> <i class="far fa-file-excel"></i> <label class="label5"> Εξαγωγή όλων σε excel</label></a>

        </div>

        </form>

        </div>

       <div class="divmargin"> </div>

    <div class="divmargin"> </div>
    <!-- <div class="container-fluid" overflow:auto> -->

      <table class="table styletd1 table-bordered table-striped  table-condensed table-hover">

           <tbody >
           <tr>
                   <td class="thick">Επίθετο </td>
                   <td class="thick">Όνομα </td>
                    <td class="thick"> Ον. πατρός </td>
                {% if all_psifoi.0.eidoskoinotitas != 3 %}
                    <td class="thick"> Συνδυασμός </td>
                {% endif %}
                    <td class="thick"> Ψήφοι </td>

           </tr>
           {% for p in all_psifoi %}
                 <tr>
                    <td>{{ p.surname }} </td>
                    <td >{{ p.firstname }}</td>
                    <td>{{ p.fathername }} </td>
                     {% if p.eidoskoinotitas != 3 %}
                     <td >{{ p.sindiasmos }}</td>
                     {% endif %}
                    <td class="myfontsize">{{ p.sumvotes }}</td>
                 </tr>
             {% endfor %}
           </tbody>
      </table>

     </div>
   </div>


{% endblock %}

  </body>
</html>


