{% extends 'Elections/Elections_list.html' %}

{% load widget_tweaks %}

{% load staticfiles %}


 {% block content %}

    {% include 'Elections/messages.html' %}


       <div class="row">

           <div class="col-md-10 col-md-offset-1">

            <div class="container">

               <div class="alert alert-info" role="alert">

                  <div class="text-center">

                    <h4 align="center">{{  action_label }} - Εκλ. κέντρο {{ selected_kentro }} </h4>


                 </div>

                </div>

           <div>
           <form method="get" name="psifoi">

                 <select   class="sel3" name="orderoption"  onchange="psifoi.submit()">
                     <option  value="6" {% if selected_order ==  5  %}selected{%endif%}>-----------------------Επιλογή ταξινόμησης-----------------------</option>
                     <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>ΑΑ Συνδυασμού/Κατηγορία/Περιοχή εκλογής/Επώνυμο</option>
                     <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>ΑΑ Συνδυασμού/Κατηγορία/Επώνυμο</option>
                     <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατηγορία/Επώνυμο</option>
                     <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>Επώνυμο</option>
                 </select>

           <input type="text" class="heighttext pull-right" id="livesearch" placeholder="live search"></input>

            </form>

            </div>

            </div>


            <table id="tblPsifoi" data-psifoi-url="{% url 'ajax_update_psifoi' %}" class="table styletd1 table-condensed table-striped  table-hover">

                <tbody >
                <tr>
                        <td class="thick">Επίθετο</td>
                        <td class="thick">Όνομα</td>
                        <td class="thick">Όν. Πατρός</td>
                        <td class="thick">Συνδυασμός</td>
                        <td class="thick">ΑΑ Συνδυασμού</td>
                        <td class="thick">Κατηγορία Υποψηφίου</td>
                        <td class="thick">Περιοχή εκλογής</td>
                        <td class="thick">Ψήφοι</td>

                </tr>
                {% for p in all_psifoi %}
                      <tr>
                        <td class="surname"> {{ p.surname}} </td>
                        <td class="firstname"> {{ p.firstname }} </td>
                        <td class="fathername"> {{ p.fathername }}</td>
                        <td class="shortsind"> {{ p.shortsind }}</td>
                        <td class="sindaa"> {{ p.sindaa }}</td>
                        <td class="eidos"> {{ p.eidos }}</td>
                        <td class="toposeklogis"> {{ p.toposeklogis }}</td>
                        <td class="votes"> <input type="number" id="votes{{ p.id }}" onkeypress="return event.charCode >= 48" min=0 class="form-control input-sm" name="votes" value="{{ p.votes }}">
                                <input type="text" id="simbid{{ p.id }}" class="simbid hidden form-control input-sm" name="simbid" value="{{ p.simbid.simbid }}">
                                <input type="text" id="kenid{{ p.id }}" class="kenid hidden form-control input-sm" name="kenid" value="{{ p.kenid.kenid }}">
                        </td>

                      </tr>
                  {% endfor %}

                <tr class="noborder">
                 <td colspan="8">


                 </td></tr>

            </tbody>

           </table>
           <input type="button" value="Επιστροφή" class="btn btn-primary pull-right" onclick="window.history.back();">

          </div>


       </div>

     <script>
     $(document).ready(function () {

         $("input[type='number']").on('change', function(e) {

            var url = $("#tblPsifoi").attr("data-psifoi-url");  // get the url of the `update_psifoi` view

            var votes = $(this).closest('tr').find('input[name="votes"]').val();
            var simbid = $(this).closest('tr').find('input[name="simbid"]').val();
            var kenid = $(this).closest('tr').find('input[name="kenid"]').val();

            //δημιουργία παραμετρικού string για κλήση GET
            var itemstring = "votes=" + votes + "&simbid=" + simbid + "&kenid=" + kenid;


            $.ajax({
            type: "GET",
            url: url,
            data: itemstring            ,
            success: function() {

            }
        });

        $(this).css({'background-color': '#c5e8fa'});


        });


        return false;

        });
     </script>


 {% endblock %}



