{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}


     {% include 'Elections/messages.html' %}


     <div class="page-header">

            <h3 align="center">Ψηφοδέλτια Συνδυασμών ανά εκλ. κέντρο</h3>
     </div>

 <div class="row">

       <div class="col-md-8 col-md-offset-2">



               <div id="div2">
                    <form method="get" name="kentra">
                        <label class="label5">Εκλογικό κέντρο</label>
                     <select  class="sel2" id="mydir" name="kentraoption"  onchange="kentra.submit()">
                        {% for p in all_kentra %}
                         <option  value="{{  p.kenid }}" {% if selected_kentro ==  p.kenid  %} selected {%endif%}>{{ p.descr }}</option>
                        {% endfor %}
                     </select>


                    <div class="divmargin"> </div>

                    </form>

                </div>


                   <table class="table styletd1 table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Συνδυασμός</td>
                                <td class="thick">Κέντρο</td>
                                <td class="thick">Ψηφοδέλτια Α Κυριακής</td>
                                <td class="thick">Ψηφοδέλτια Β Κυριακής</td>
                                <td class="thick">Ψηφοδέλτια Κοινότητας</td>
                                <td class="thick">Ενέργειες</td>
                        </tr>
                        {% for p in all_psifodeltia %}
                              <tr>
                                <td > {{ p.sindid}} </td>
                                <td > {{ p.kenid }} </td>
                                <td > {{ p.votesa }}</td>
                                <td > {{ p.votesb }}</td>
                                <td > {{ p.votesk }}</td>

                                <td>
                                    <a class="btn btn-default" href="{% url 'psifodeltia_edit' selected_ekloges p.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'psifodeltia_delete' selected_ekloges p.id%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'psifodeltia_add' selected_ekloges %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>

        <div class="divmargin"></div>



        </div>
</div>

{% endblock %}



