{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}


    {% if eidos == 0 %}
        <label class="label4">Ψηφοδέλτια συνδυασμών για την ανάδειξη Τοπικού Συμβουλίου ανά Κοινότητα </label>
    {% else %}
        <label class="label4">Ψηφοδέλτια συνδυασμών για την ανάδειξη Δημοτικής Αρχής ανά Κοινότητα </label>
    {% endif %}



<div class="divmargin"> </div>



 <div class="row">

       <div class="col-md-8 col-md-offset-2">

            <div class="container">

                <form method="get" name="koinotites">
                <!-- <label class="label5">Κοινότητα</label> -->
                 <select  class="sel3" id="mykoinotita" name="koinotitaoption"  onchange="koinotites.submit()">
                    {% for p in all_koinotites %}
                     <option  value="{{  p.koinid }}" {% if selected_koinotita ==  p.koinid  %}selected{%endif%}>{{ p.descr }}</option>
                    {% endfor %}
                 </select>


                 <select   class="sel3 pull-right" name="orderoption"  onchange="koinotites.submit()">
                     <option  value="4" {% if selected_order ==  4  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                     <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Κοινότητα/Ψηφοδέλτια </option>
                     <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Κοινότητα/Συνδυασμό</option>
                     <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Συνδυασμό/Κοινότητα</option>
                 </select>

                <div class="divmargin"></div>


                    <a style="color: blue;  font-family:Calibri;" class="pull-left" href={% url 'export_psifodeltiasind_koin' selected_ekloges selected_order eidos sunday%}><i class="far fa-file-excel"></i> <label class="label5"> Εξαγωγή όλων σε excel</label></a>

                </form>
            <br>
            <hr>


             <div class="text-center">
                 {% if eidos == 0 %}
                     <label class="label6 pull-center">Για το Τοπικό Συμβούλιο </label>
                 {% else %}
                     {% if sunday == 1 %}
                        <label class="label6 pull-center"> Α' Κυριακή </label>
                     {% else %}
                         <label class="label6 pull-center"> Β' Κυριακή </label>
                     {% endif %}
                 {% endif %}

             </div>

            <div class="divmargin"></div>


                 <table class="table table-bordered  table-condensed table-hover">

                   <tbody >
                   <tr>
                           <th class="style1">Συνδυασμός </th>
                           <th class="style1">Ψηφοδέλτια </tr>
                   </tr>
                   {% for p in all_psifodeltia %}
                         <tr>
                            <td >{{ p.sindiasmosnew }}</td>
                             {% if eidos == 0 %}
                                <td class="myfontsize">{{ p.sumksindiasmou }}</td>
                             {% else %}
                                 {% if sunday == 1 %}
                                    <td class="myfontsize">{{ p.sumasindiasmou }}</td>
                                 {% else %}
                                    <td class="myfontsize">{{ p.sumbsindiasmou }}</td>
                                 {% endif %}

                            {% endif %}
                         </tr>
                     {% endfor %}
                   </tbody>
                </table>

                   <br>

     <div id="container" >

     <!-- style="min-width: 410px; height: 400px; max-width: 800px; margin: 0 auto"  -->

     <script src="https://code.highcharts.com/highcharts.src.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>
     <script src="https://code.highcharts.com/modules/export-data.js"></script>

              <script>
              if ({{ sumpsifodeltia }}>0) {  /* Μόνο αν υπάρχουν ψηφοδέλτια καταχωρημένα δείχνω και την πίτα */


                  var e = document.getElementById("mykoinotita");
                  var koinotita = e.options[e.selectedIndex].text;

                  Highcharts.getOptions().plotOptions.pie.colors=['#f3f36b',  '#807c7a', '#a24508', '#375772', '#f1deef', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];

                  Highcharts.chart('container', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Ποσοστιαία κατανομή για την κοινότητα ' + koinotita,
                        style: {
                            color: 'red',
                            fontSize:'18px',
                            fontFamily : 'Calibri'
                         },
                    },
                    series: [{
                        name: 'Ψηφοδέλτια υποψηφίων',
                        colorByPoint: true,
                      data: [
                        {% for entry in all_psifodeltia %}
                          {name:"{{ entry.sindiasmosnew }}",
                              {% if sunday == 1 %} y:{{ entry.sumasindiasmou }}
                              {% elif sunday == 2 %} y:{{ entry.sumbsindiasmou }}
                              {% else %} y:{{ entry.sumksindiasmou }}
                              {% endif %},
                            sliced: true} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      ]
                    }],
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} % ',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                });

                }  /* end if sumpsifodeltia>0*/
              </script>

            </div>


     </div>



 </div>

{% endblock %}

  </body>

</html>


