{% if simbouloi.count > 0 %}
<!DOCTYPE html>
<html>
<head>
<!-- jQuery
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->
<meta charset=utf-8 />
</head>
<body>


    <table id="results" class="table table-condensed table-striped  table-hover">

        <tbody >
        <tr>
                <td class="thick">Εκλ. Αναμέτρηση</td>
                <td class="thick">Επώνυμο</td>
                <td class="thick">Όνομα</td>
                <td class="thick">Όνομα Πατρός</td>
                <td class="thick">Συνδυασμός</td>
                <td class="thick">Τόπος εκλογής</td>
        </tr>
        {% for p in simbouloi %}
        <tr>
            <td > {{ p.eklid }}  </td>
            <td > {{ p.surname }}  </td>
            <td > {{ p.firstname }} </td>
            <td > {{ p.fathername }} </td>
            <td > {{ p.sindiasmos }} </td>
            <td > {{ p.toposeklogis }} </td>

        </tr>
        {% endfor %}


    </table>

    <script>


        $('#results').find('tr').click(function () {
                //var row = $(this).find('td:first').text();
                //alert('You clicked ' + row);
                var surname = $(this).find('td:eq(1)').text().trim();
                var firstname = $(this).find('td:eq(2)').text().trim();
                var fathername = $(this).find('td:eq(3)').text().trim();
                document.getElementById("id_surname").value = surname
                document.getElementById("id_firstname").value = firstname
                document.getElementById("id_fathername").value = fathername
                $('#myModal').modal('hide');
        });

    </script>

</body>
</html>

{% endif %}
