{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}


     {% include 'Elections/messages.html' %}


     <div class="page-header">

            <h3 align="center">Υποψήφιοι Σύμβουλοι (Δημοτικοί & Τοπικοί)</h3>
     </div>

 <div class="row">

       <div class="col-md-10 col-md-offset-1">

                  <form method="get" name="simbouloi">

                     <select   name="orderoption"  onchange="simbouloi.submit()">
                     <option  value="6" {% if selected_order ==  4  %}selected{%endif%}>--------Επιλογή ταξινόμησης--------</option>
                         <option  value="1" {% if selected_order ==  1  %}selected{%endif%}>Κατά Επώνυμο</option>
                         <option  value="2" {% if selected_order ==  2  %}selected{%endif%}>Κατά Συνδυασμό/Επώνυμο</option>
                         <option  value="3" {% if selected_order ==  3  %}selected{%endif%}>Κατά Συνδυασμό/Περ. Εκλογής/Επώνυμο</option>
                         <option  value="4" {% if selected_order ==  3  %}selected{%endif%}>Κατά Περ. Εκλογής/Συνδυασμό/Επώνυμο</option>
                         <option  value="5" {% if selected_order ==  3  %}selected{%endif%}>Κατά Περ. Εκλογής/Επώνυμο</option>

                     </select>
                     <input type="text" class="heighttext" id="livesearch" placeholder="live search"></input>
                  </form>

        <div class="divmargin"> </div>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'simbouloi_add' selected_ekloges.0.eklid%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>

                    <div class="divmargin"> </div>

                   <table class="table styletd1 table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Επώνυμο</td>
                                <td class="thick">Όνομα</td>
                                <td class="thick">Όν. Πατρός</td>
                                <td class="thick">Περιοχή Εκλογής</td>
                                <td class="thick">Συνδυασμός</td>
                                <td class="thick">Ενέργειες</td>
                        </tr>
                        {% for p in all_simbouloi %}
                              <tr>
                                <td > {{ p.surname }} </td>
                                <td > {{ p.firstname }}</td>
                                <td > {{ p.fathername }} </td>
                                <td > {{ p.toposeklogis }} </td>
                                <td > {{ p.sindiasmos }}</td>
                                <td>
                                    <a class="btn btn-default" href="{% url 'sindiasmoi_edit' selected_ekloges.0.eklid p.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'sindiasmoi_delete' selected_ekloges.0.eklid p.id%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'simbouloi_add' selected_ekloges.0.eklid%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>



        </div>
</div>

{% endblock %}

  </body>
</html>


