{% extends 'Elections/Elections_list.html' %}

{% load widget_tweaks %}

{% load staticfiles %}


 {% block content %}

       <div class="row">

       <div class="col-md-8 col-md-offset-3">

       {% include 'Elections/messages.html' %}




       <div class="column left">

       <div class="text-center">
                <h3 align="center">{{  action_label }} </h3>
         </div>

             <form method="POST" id="dataForm" data-koinotites-url="{% url 'ajax_load_koinotites' selected_ekloges.0.eklid %}" class="post-form"  action="." enctype="multipart/form-data">
                            {% csrf_token %}

                         <div class="form-group">

                             {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                              {% endfor %}

                              {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                  {% for error in form.non_field_errors %}
                                    {{ error }}
                                  {% endfor %}
                                </div>
                              {% endif %}
                         </div>

                         {% if sub_form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                  {% for error in sub_form.non_field_errors %}
                                    {{ error }}
                                  {% endfor %}
                                </div>
                              {% endif %}


                             <!--<table class="a table table-striped"> <!-- Για να φέρει τη φόρμα σε πραγματική μορφή πίνακα -->

                              {% for field in form.visible_fields %}
                                <div class="form-group">
                                  {{ field.label_tag }}
                                  {% if form.is_bound %}
                                    {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                            <div class="bg2 invalid-feedback">
                                              {{ error }}
                                            </div>
                                          {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                  {% else %}
                                        {% render_field field class="form-control" %}
                                  {% endif %}

                                  {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                  {% endif %}
                                </div>

                              {% endfor %}

                            {% for field in sub_form.visible_fields %}
                                <div class="form-group">
                                  {{ field.label_tag }}
                                  {% if sub_form.is_bound %}
                                    {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                              {{ error }}
                                            </div>
                                          {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                  {% else %}
                                        {% render_field field class="form-control" %}
                                  {% endif %}

                                  {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                  {% endif %}
                                </div>

                              {% endfor %}


                                 <tr class="noborder"> <td colspan="4"> <input type="submit" value="Save" class="btn btn-primary"> </td></tr>

            </form>

        </div>

     <div class="column right" style="background-color: #c4dce8">

         <h4>dfgdfg bvnghhgjghjjhhj hjghhjghjgh ghjghjghjghjg ffdgfd</h4>
         <h4>ffcvbcvbcvb bvnghhgjghjjhhj hjghhjghjgh ghjghjghjghjg ffdgfd</h4>



     </div>


    </div>

   </div>

    <script>
    //script για την φόρμα καταχώρισης των συνδυασμών. Αν δεν ειναι καθολικός ο συνδυασμός, κρύβω το πεδίο ΑΑ

    //κατά το φόρτωμα της φόρμας...
        $(document).ready(function () {
               var optionSelected = $("#id_eidos", this);
                var eidosSelected = $("#id_eidos").val();
                if (eidosSelected == 0) {
                    $('#id_koinid, label[for="#id_koinid"]').show()
                    $('#id_koinid, label[for="#id_koinid"]').parent().show()
                 }
                else if (eidosSelected == 1) {
                    $('#id_koinid, label[for="#id_koinid"]').hide()
                    $('#id_koinid, label[for="#id_koinid"]').parent().hide()
                }



              //κρατώ το koinid και επίσης ανάλογα με το perid φορτώνω στο dropdown koinid τα σχετικά μόνο koinid
              var url = $("#dataForm").attr("data-koinotites-url");  // get the url of the `load_koinotites` view
              var currentKoinid=$("#id_koinid").val();
              //alert(currentKoinid);
              var perid = $("#perid_of_simbouloi").val();  // get the selected perid from the HTML input

              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/ajax/load_koinotites/)
                data: {
                  'perid': perid       // add the perid to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_koinotites` view function
                  $("#id_koinid").html(data);  // replace the contents of the koinid input with the data that came from the server

                  $("#id_koinid").val(currentKoinid);//μόλις γεμίσει το dropdown κάνω επιλεγμένο το αρχικό koinid
                                                     //με το οποίο άνοιξε η φόρμα
                }

              });

            return false;
          });

          $("#perid_of_simbouloi").change(function () {
              var url = $("#dataForm").attr("data-koinotites-url");  // get the url of the `load_koinotites` view
              var perid = $(this).val();  // get the selected perid from the HTML input

              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/ajax/load_koinotites/)
                data: {
                  'perid': perid       // add the perid to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_koinotites` view function
                  $("#id_koinid").html(data);  // replace the contents of the koinid input with the data that came from the server
                }
              });

            });

          //κατά την αλλαγή του dropdown eidos...
          $('#id_eidos').on('change', function(){
            var optionSelected = $("#id_eidos", this);
            var eidosSelected = this.value;
            if (eidosSelected == 0) {
                    $('#id_koinid, label[for="#id_koinid"]').show()
                    $('#id_koinid, label[for="#id_koinid"]').parent().show()
                 }
                else if (eidosSelected == 1) {
                    $('#id_koinid, label[for="#id_koinid"]').hide()
                    $('#id_koinid, label[for="#id_koinid"]').parent().hide()
                }
            return false;
          });
    </script>




 {% endblock %}



 </body>

</html>


