{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}


     {% include 'Elections/messages.html' %}


     <div class="page-header">

            <h3 align="center">Υποψήφιοι Συνδυασμοί</h3>
     </div>

 <div class="row">

       <div class="col-md-6 col-md-offset-3">

                   <table class="table styletd1 table-condensed table-striped  table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Περιγραφή</td>
                                <td class="thick">Στον Δήμο ή σε Τοπική Κοινότητα?</td>
                                <td class="thick">Ενέργειες</td>
                        </tr>
                        {% for p in all_sindiasmoi %}
                              <tr>
                                <td > {{ p.descr }} </td>
                                <td > {% if p.eidos == 1 %}Δήμο{% else %}Κοινότητα{% endif %}</td>

                                <td>
                                    <a class="btn btn-default" href="{% url 'sindiasmoi_edit' selected_ekloges.0.eklid p.sindid%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'sindiasmoi_delete' selected_ekloges.0.eklid p.sindid%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'sindiasmoi_add' selected_ekloges.0.eklid%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>



        </div>
</div>

{% endblock %}



