{% extends 'Elections/basicform.html' %}

{% load staticfiles %}

{% block buttonReturn %}

    <input type="button" value="Επιστροφή" class="btn btn-primary pull-right" onclick="window.location='{% url 'sindiasmoi_list' selected_ekloges.0.eklid %}';">


    <script>
    //script για την φόρμα καταχώρισης των συνδυασμών. Αν δεν ειναι καθολικός ο συνδυασμός, κρύβω το πεδίο ΑΑ

    //κατά το φόρτωμα της φόρμας...
        $(document).ready(function () {
            var optionSelected = $("#id_eidos", this);
            var eidosSelected = $("#id_eidos").val();
            if (eidosSelected == 1) {
                $('#id_aa, label[for="#id_aa"]').show()
                $('#id_aa, label[for="#id_aa"]').parent().show()
            } else if (eidosSelected == 0) {
                $('#id_aa, label[for="#id_aa"]').hide()
                document.getElementById("id_aa").value = "0";
                $('#id_aa, label[for="#id_aa"]').parent().hide()
                }

            return false;
          });


  //κατά την αλλαγή του dropdown eidos...
          $('#id_eidos').on('change', function(){
            var optionSelected = $("#id_eidos", this);
            var eidosSelected = this.value;
            if (eidosSelected == 1) {
                $('#id_aa, label[for="#id_aa"]').show()
                $('#id_aa, label[for="#id_aa"]').parent().show()
            } else if (eidosSelected == 0) {
                $('#id_aa, label[for="#id_aa"]').hide()
                document.getElementById("id_aa").value = "0";
                $('#id_aa, label[for="#id_aa"]').parent().hide()
            }
            return false;
          });

    </script>


{% endblock %}