{% extends 'Elections/base.html' %}

{% load staticfiles %}

<!-- καλούμε το base.html που προσθέτει το σταθερό Menu -->

 {% block content %}

     {% include 'Elections/messages.html' %}


         <h3 align="center"><span class="label label-primary">Τύποι κοινοτήτων</span></h3>
 <br>
 <div class="row" >

       <div class="col-md-3 col-md-offset-4">


                   <table class="table styletd2 table-condensed table-striped table-hover">

                        <tbody >
                        <tr>
                                <td class="thick">Περιγραφή</td>
                                <td class="thick">Ενέργειες</td>


                        </tr>
                        {% for p in all_type %}
                              <tr>
                                <td > {{ p.descr}} </td>
                                <td .noborder>
                                    <a class="btn btn-default" href="{% url 'typeofkoinotita_edit' selected_ekloges p.tpkid%}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="btn btn-default" href="{% url 'typeofkoinotita_delete' selected_ekloges p.tpkid%}"><span class="glyphicon glyphicon-minus"></span></a>
                                </td>

                              </tr>
                          {% endfor %}

                        </tbody>
                   </table>

                    <br/>

                    <table>

                        <tbody >

                        <tr class="noborder"> <td colspan="4"><a href="{% url 'typeofkoinotita_add' selected_ekloges%}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Νέα καταχώριση</a></td></tr>

                        </tbody>
                   </table>



        </div>
</div>

{% endblock %}

