h3 a {
    color: red;
}

body {
    padding-left : 15px;
    font-family : 'Arial' ;
    background-color: rgba(164, 209, 252, 0.01); /* Black Gray */
}

#div1 {
    text-align: left;
    background-colorcolor: red;
	/* border-bottom:1px solid #2e81ff;*/
}

.bg-4 {
    background-color: #040604; /* Black Gray */
    color: #fdffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar-default {
    background-color: #5f6bef;
    border-color: #E7E7E7;
}


.navbar-default .navbar-brand {
    color: #f7f7f9;
}

.navbar-default .navbar-nav > li > a {
    color: #f7f7f9;
}


.container {
	position: relative;
      max-width: 100%;
	  max-height: 50%;
      display: inline-block;
	  padding:10px;
	  background-color: #f9f9f9;
      vertical-align: top;  /* vertical alignment of the inline element */
	  
    }
	
.container2 {
	position: relative;
      max-width: 150%;
	  max-height: 50%;
      display: inline-block;
	  padding:10px;
	  background-color: #f9f9f9;
      vertical-align: top;  /* vertical alignment of the inline element */
	  
    }
	
.site-footer {
  background: orange;
}

#footer-content {
  background: #5f6bef;
  color: #f7f7f9;
  text-align: center;
}

.vertical-menu {
    width: 200px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #f7fdfb;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    /*background-color: #000000;*/
    color: white;
    font: bold 16px sans-serif !important;
}

a.current {
  /*background:#000000;*/
  color:black;
}

label.label1 {
    width:300px;
    text-align:center;
    font-size: 14px;
}

label.label2 {
    width:50px;
    text-align:left;
    font-size: 14px;
}

label.label3 {
    width:100%;
    text-align:center;
    font-size: 24px;
}
label.label4 {
    width:100%;
    text-align:center;
    font-size: 18px;
	color: red;
}

label.label5 {        
    font-size: 14px;
	 margin-top:8px;
	color: blue;
}

label.label6 {        
    font-size: 14px;
	color: red;
}

label.menulabel {
    float:bottom;
    width:150px;
    text-align:left;
    margin-left: 13px;
    margin-top:5px;
    font: bold 12px sans-serif !important;
}

.squaredOne {
    width: 16px;
    height: 16px;
    position: relative;
    margin: 16px auto;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}

.divmargin {
    margin-top: 25px;
}

#slidecontainer {
    width: 100%;
}

#button-search {
    height: 30px;
	background-color:#d9edf7;
	color:#1c1a1a;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #117caf;
    cursor: pointer;
}

hr.style11 {
		height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #117caf;
    cursor: pointer;
}

#sort {
/*display: inline-block;*/
float: right;
/*padding-bottom: 50px;*/

}

td.thick {
    font-weight: bold;
}

td.myfontsize { 
font-size: 13px ; 
font-weight: bold;
white-space: nowrap;
}

.element {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(50%);
}

div.bg1 {
    background-color: rgba(242, 242, 242, 1);
}

div.bg2 {
	background-color: #f9e3ec
}

.thumbnail {
    height:485px;
    width:100%;
}

select.sel1 {
font-size: 18px;
font: bold;
background-repeat:no-repeat;
background-position:300px;
width:300px;
padding:6px;
margin-top:8px;
font-family:Calibri;
line-height:2;
border-radius:5px;
background-color:#d9edf7;
color:#1c1a1a;


}
select.sel2{
font-size: 14px;
font: bold;
color:blue;
}

select.sel3 {
font-size: 14px;
font: bold;
background-repeat:no-repeat;
background-position:300px;

padding:6px;
margin-top:8px;
font-family:Calibri;
line-height:2;
border-radius:5px;
background-color:#d9edf7;
color:#1c1a1a;
}



tr.hide_all > td, td.hide_all{
        border-style:hidden;
      }
	  
table.styletd1 td
{
    width: 1px;
    /*white-space: nowrap;  /* ΜΕ ΑΝΑΠΙΔΠΩΣΗ του κειμένου μέσα στο κελί */ */
}

table.styletd2 td
{
    width: 1px;
    white-space: nowrap; /* οχι αναδίπλωση του κειμένου μέσα στο κελί */
}

table.a {

 width: 60%;
 margin: 0 auto;  
 
}

table.b {
 margin: 0 auto;  
 width: 100%; 
}

table.c {

 width: 30%;
 margin: 0 auto;  
}

table.d {

 width: 100%;
 margin: 0 auto;  
}

.noborder
      {
        border:0;
  }

.table-condensed{
  font-size: 11px;
}


.heighttext {
font-size: 14px;
font: bold;
background-repeat:no-repeat;
background-position:300px;
padding:2px;
margin-top:8px;
padding:2px;
font-family:Calibri;
line-height:2;
border-radius:5px;
background-color:#d9edf7;
color:#1c1a1a;
 }
 
 #wrapper {
    position: absolute;
    left: 50%; top: 50%; /*move the object to the center of the parent object*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }
 
.field_error {
 color:red;	
}

<style>
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;    
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.modal-header{
  background-color:#337ab7;
  color:#ffffff;
}

/*no arrows to input type=number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
